# SPDX-License-Identifier: Apache-2.0
# amoled-175c: applied after ../../sdkconfig.defaults (see ../../CMakeLists.txt).
CONFIG_GADGET_BOARD_ID="amoled-175c"
CONFIG_GADGET_ART_PROFILE="s240"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/16mb.csv"
# CONFIG_GADGET_TEST_KEYS is not set
